@page
@model FitRazor.Web.Pages.Entities.CreateModel

@{
    ViewData["Title"] = $"Создать: {Model.EntityName}";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <div class="card card-dark shadow-sm">
        <div class="card-body card-content" style="max-width: 100%;">
            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="EntityName" value="@Model.EntityName" />
                <input type="hidden" asp-for="EntityName" />

                @* Вызов тег-хелпера формы *@
                <entity-create-form entity-name="@Model.EntityName"
                                    submit-text="Создать запись"
                                    cancel-page="/Entities/Index">
                </entity-create-form>
            </form>
        </div>
    </div>
</div>
