@page
@model FitRazor.Web.Pages.AboutModel
@{
}

<div class="container mt-4">
    <div class="card card-dark">
        <div class="card-header card-header-dark">
            <h2 class="text-light">Автор</h2>
            <div class="card-body card-body-dark card-content--center">
                <h3 class="card-name text-gains">Шигапов Шамиль</h3>
                <p class="card-name card-text">Студент группы ПВ-425 Академия TOP</p>
                <p class="card-name card-text">Проект FitRazor — демонстрация CRUD-операций с использованием ASP.NET Core 10, EF Core и Razor Pages</p>
            </div>
        </div>
    </div>
</div>